<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration | MRD</title>
  <style>
    h1{
      text-align: center;
    }
    a {
      display: block;
      text-align: center;
      font-size: 3em;
    }
  </style>
</head>
<body>
  <h1><%= message %></h1>
  <hr>
  <a href="/registration">Home</a>
</body>
</html>